.about {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 2rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  max-width: 1000px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  margin: 1rem 3rem;
}

.about-text .title {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 500;
}

.about-text span {
  color: #879dce;
  font-weight: 500;
}

.about-text p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 950px) {
  .about {
    padding: 1rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }

  .about-text {
    margin: 1rem 0;
    text-align: center;
  }

  .about-text .title {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 1.1rem;
  }

  .about-text span {
    font-size: 1.2rem;
  }
}
