.about {
  min-height: calc(100vh - 90px);
  display: flex;
  /* justify-content: center; */
  text-align: left;
  align-items: center;
  padding: 0rem 5rem;
  margin-bottom: 10rem;
  margin-top: -1rem;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  margin: 0rem 2rem;
  max-width: 60%;
}

.about-text .title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.about-text span {
  color: #879dce;
  font-weight: 500;
}

.about-text p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.about-text p ul {
  margin-bottom: 3rem;
}

.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quote p {
  width: 30rem;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.About-Img {
  flex: 1;
  max-width: 40%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 950px) {
  .about {
    padding: 1rem;
    justify-content: center;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    margin: 0 -1rem;
  }

  .about-text {
    margin: 1rem 0;
    text-align: center;
    max-width: 85%;
  }

  .about-text .title {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 1.2rem;
  }

  .about-text span {
    font-size: 1.3rem;
  }

  .quote p {
    font-size: 1.3rem;
    margin-left: 0rem;
  }
}

@media (max-width: 550px) {
  .about {
    padding: 0rem;
    margin-top: 1rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    margin: 0rem;
  }

  .about-text {
    margin: 0rem 0;
    text-align: center;
    margin: 0rem -5rem;
    max-width: 85%;
  }

  .about-text .title {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 1.2rem;
  }

  .about-text span {
    font-size: 1.3rem;
  }

  .quote p {
    width: 17rem;
    font-size: 1.1rem;
  }
}
