.about {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 0rem 5rem;
  margin-bottom: 10rem;
  margin-top: -1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.About-Img {
  max-width: 40%;
  padding-right: 2rem;
}

.about-text {
  flex: 1;
  margin: 0rem 2rem;
  max-width: 60%;
}

.about-text .title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.about-text span {
  color: #879dce;
  font-weight: 500;
}

.about-text p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.about-text p ul {
  margin-bottom: 3rem;
}

.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quote p {
  margin-top: -0.2rem;
}

@media (max-width: 950px) {
  .about {
    padding: 1rem;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }

  .about-text {
    margin: 1rem 0;
    text-align: center;
  }

  .about-text .title {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 1.1rem;
  }

  .about-text span {
    font-size: 1.3rem;
  }
}
