.hero {
  height: calc(100vh - 15rem);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem;
  margin: 3rem;
  margin-top: -0.5rem;
  gap: 5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.Home-Intro {
  max-width: 50%;
}

.Home-Intro h1 {
  font-size: 2.7rem;
  margin: 0.5rem 0;
}

.Home-Intro h2 {
  font-size: 2rem;
}

.Home-Intro span {
  font-size: 1.5rem;
  color: #879dce;
}

.Home-Intro p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero .btn {
  margin-top: 1rem;
  margin-right: 1.5rem;
  border: 1px solid #334155;
  background-color: #879dce;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.hero .btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 20px #38bdf833;
  background-color: #91a0c3;
  color: #0f172a;
  font-weight: 700;
}

.hero .btn a {
  margin-top: 1rem;
  border: 1px solid #334155;
  background-color: #879dce;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.hero .btn a:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 20px #38bdf833;
  background-color: #91a0c3;
  color: #0f172a;
  font-weight: 700;
}

.Home-Img {
  flex: 1;
  max-width: 45%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 950px) {
  .hero {
    flex-direction: column;
    margin: 2rem 1rem;
    gap: 2rem;
    height: auto;
    padding: 1rem;
  }

  .Home-Intro {
    max-width: 100%;
    text-align: center;
  }

  .Home-Intro h1 {
    font-size: 2rem;
  }

  .Home-Intro h2 {
    font-size: 1.4rem;
  }

  .Home-Intro span {
    font-size: 1.3rem;
  }

  .Home-Img {
    max-width: 100%;
    margin-top: 0;
  }

  .hero-image {
    max-width: 90%;
  }
}
