.projects {
  min-height: calc(100vh - 80px);
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects h2 {
  color: #f3f3f3;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 500;
}

.projects h3 {
  color: #fafafa;
  text-align: center;
  font-weight: 500;
}

.projects span {
  color: #fff;
  font-weight: bolder;
}

.projects-grid {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

.project-card {
  background-color: #1e293b;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.project-card p {
  font-size: 0.9rem;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px #38bdf833;
  background-color: #7686a8;
  color: #fff;
}

.project-image {
  width: 100%;
  height: 10rem;
  border-radius: 8px;
  object-fit: cover;
}

.project-btn {
  display: inline-block;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: #0f172a;
  border: 0.01rem solid #fff;
  color: white;
  font-size: 1rem;
  padding: 0.4rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

.project-btn:hover {
  color: #10125f;
  font-weight: bold;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .projects {
    padding: 2rem 1.5rem;
  }

  .projects h2 {
    font-size: 2rem;
  }

  .project-card p {
    font-size: 0.85rem;
  }

  .project-image {
    height: 10rem;
  }

  .project-btn {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
