#skills {
  background-color: #0f172a;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: -6rem;
}

#skills h2 {
  font-size: 2.4rem;
  margin-bottom: 30px;
  font-weight: bold;
  color: #91a0c3;
}

#skills h3 {
  font-size: 1.7rem;
  margin-bottom: 30px;
  font-weight: bold;
  color: #ffffff;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-card {
  background-color: #28364d;
  border: 1px solid #334155;
  border-radius: 0.7rem;
  width: 8rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(100, 100, 100, 0.1);
}

.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 20px #6b38f833;
  background-color: #91a0c3;
  color: #0f172a;
  font-weight: 600;
}

.skill-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 550px) {
  #skills h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}
